<ActionBar title="{{title}}" class="action-bar">
    <NavigationButton
            icon="{{androidIcon}}"
            *ifAndroid
            class="fas android-icon"
            (tap)="performAction()">
    </NavigationButton>

    <NavigationButton
            *ifIos
            visibility="collapsed">
    </NavigationButton>

    <ActionItem
            *ifIos
            ios.position="left">
        <Label
                text="{{iosIcon}}"
                class="fas icon"
                (tap)="performAction()"></Label>
    </ActionItem>
</ActionBar>
