<ns-action-bar
        title="Products"
        android-icon="font://&#xf0c9;"
        ios-icon="&#xf0c9;"
        [to-navigate]="toNavigate">
</ns-action-bar>

 <RadListView height="100%" [items]="products" pullToRefresh="true" (pullToRefreshInitiated)="onPullToRefreshInitiated($event)"
                 loadOnDemandMode="Manual" (loadMoreDataRequested)="onLoadMoreItemsRequested($event)">
        <ListViewGridLayout tkListViewLayout scrollDirection="Vertical" itemHeight="265" spanCount="2"></ListViewGridLayout>

        <ng-template tkListItemTemplate let-item="item">

            <GridLayout class="product" rows="auto,auto,auto, auto" columns="*">
                <Image [src]="item.mainPhotoUrl" loadMode="async" row="0" col="0"></Image>

                <Label [text]="item.name" class="name" row="1" col="0"></Label>

                <Label [text]="'Rs ' + item.price" class="price" row="2" col="0"></Label>

                <StackLayout  row="3" col="0">
                    <Button text="View" (tap)="view(item)" class="view-btn"></Button>
                </StackLayout>
            </GridLayout>
        </ng-template>

        <ng-template tkListViewHeader>
            <ScrollView orientation="horizontal" scrollBarIndicatorVisible="false">
                <StackLayout orientation="horizontal">
                    <GridLayout class="tile">
                        <Label text="FRUITS" horizontalAlignment="center" verticalAlignment="center" class="mt fs14 ls"></Label>
                    </GridLayout>
                    <GridLayout class="tile">
                        <Label text="SALADS" horizontalAlignment="center" verticalAlignment="center" class="mt fs14 ls"></Label>
                    </GridLayout>
                    <GridLayout class="tile">
                        <Label text="MIXTURES" horizontalAlignment="center" verticalAlignment="center" class="mt fs14 ls"></Label>
                    </GridLayout>
                </StackLayout>
            </ScrollView>
        </ng-template>
    </RadListView>

