
<RadSideDrawer tkExampleTitle tkToggleNavButton drawerLocation="left">
    <GridLayout tkDrawerContent rows="*" class="sideStackLayout">
        <StackLayout class="sideStackLayout">
            <Label
                    text="Home"
                    class="sideLabel"
                    [nsRouterLink]= "['/']"
                    (tap)="closeDrawer()"></Label>

            <Label
                    text="Address book"
                    class="sideLabel sideLightGrayLabel"
                    [nsRouterLink]= "['address-book']"
                    (tap)="closeDrawer()"></Label>

            <Label
                    text="Login"
                    class="sideLabel"
                    [nsRouterLink]= "['login']"
                    (tap)="closeDrawer()"></Label>

            <Label text="Share us " class="sideLabel sideLightGrayLabel" (tap)="closeDrawer()"></Label>
        </StackLayout>
    </GridLayout>

    <page-router-outlet tkMainContent></page-router-outlet>
</RadSideDrawer>
